---
title: Portfolio
---

<h1>Neil Dawson</h1>

I'm a cheerful Scottish product designer in London, and this is my wee corner of the web.

<h2>Latest</h2>

{% for project in site.work limit: 1 %}
    {% include card.html %}
{% endfor %}

{% for project in site.play limit: 1 %}
    {% include card.html %}
{% endfor %}

  {% for post in site.posts limit: 1 %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <!-- {{ post.excerpt }} -->
      {{ post.date | date: "%B %d %Y" }}
    </li>
  {% endfor %}