---
title: Experience Designer in London
---

<section class="grid" id="home">

  <h1>Neil Dawson</h1>

  <p class="description">I'm a cheerful Scottish experience designer in London, and this is my wee corner of the web.</p>
  <p class="description"><mark>I fight for the users</mark>.</p>
  <p>I just launched my new site. What do you reckon? Read about <a href="{% link _posts/2022-06-04-new-website.markdown %}">my design approach</a>.</p>
  <p>At the moment I'm looking for a permanent, in-house, senior or lead position in London. If you like what you see, <a href="https://www.linkedin.com/in/neildawson/" target="_blank">get in touch</a>.</p>

  <h2>Latest Projects</h2>

  {% assign work = site.work | sort: 'date' | reverse %}
  {% for project in work limit:2 %}
    {% include card.html %}
  {% endfor %}

  {% assign play = site.play | sort: 'date' | reverse %}
  {% for project in play limit: 2 %}
    {% include card.html %}
  {% endfor %}

  <h2>Latest Posts</h2>

  {% for post in site.posts limit: 3 %}
    {% include blogpost.html %}
  {% endfor %}

</section>