---
title: Experience Designer
image: /assets/about/neil.jpg
---

<section class="grid" id="home">

  <h1>Neil Dawson</h1>

  <p class="description">I'm a cheerful Scottish experience designer, and this is my wee corner of the web.</p>
  <p class="description"><mark>I fight for the users</mark>.</p>

  <h2>Latest Projects</h2>

  {% assign work = site.work | sort: 'date' | reverse %}
  {% for project in work limit:2 %}
    {% include card.html %}
  {% endfor %}

  {% assign play = site.play | sort: 'date' | reverse %}
  {% for project in play limit: 2 %}
    {% include card.html %}
  {% endfor %}

  <h2>Latest Posts</h2>

  {% for post in site.posts limit: 3 %}
    {% include blogpost.html %}
  {% endfor %}

</section>