
/* LAYOUT
-------------------------------------------------- */

body {
  margin: 0 auto 100px auto;
}

img {
  width: 100%;
}

.pagenav {
  margin-top: 50px;
}

.grid {
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.grid * {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid > .full-width {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width: 700px) {

  .next > img, .prev > img {
    display: none;
  }

}

@media (min-width: 700px) and (max-width: 1000px) {

  .grid {
    grid-template-columns: 1fr 4fr 1fr;
  }

}

@media (min-width: 1000px) {

    body {
      padding-left: 210px;
    }

    .grid {
      padding: 40px;
      max-width: 1200px;
      grid-template-columns: 1fr 2fr 2fr 1fr;
      column-gap: 40px;
    }

    .grid * {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .grid > .full-width, #work > h1, #play > h1 {
      grid-column-start: 1;
      grid-column-end: 5;
    }

    .grid > .prev, .responsibilities {
      grid-column-start: 1;
      grid-column-end: 3;      
    }

    .grid > .next, .results {
      grid-column-start: 3;
      grid-column-end: 5;      
    }

    .grid > .next p:first-child {
      text-align: right;
    }

    .blogpost.next {
      text-align: right;
    }

    .lonely {

        grid-column-start: 2 !important;
        grid-column-end: 4 !important;   
    }

    .grid > .card:nth-of-type(odd) {
        grid-column-start: 1;
        grid-column-end: 3;   
    }

    .grid > .card:nth-of-type(even) {
        grid-column-start: 3;
        grid-column-end: 5;   
    }

  }

/* TYPOGRAPHY
-------------------------------------------------- */

@font-face {
    font-family: 'geomanistregular';
    src: url('/assets/fonts/geomanist-bold-webfont.eot');
    src: url('/assets/fonts/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/geomanist-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/geomanist-bold-webfont.woff') format('woff'),
         url('/assets/fonts/geomanist-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistultra';
    src: url('/assets/fonts/geomanist-ultra-webfont.eot');
    src: url('/assets/fonts/geomanist-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/geomanist-ultra-webfont.woff2') format('woff2'),
         url('/assets/fonts/geomanist-ultra-webfont.woff') format('woff'),
         url('/assets/fonts/geomanist-ultra-webfont.ttf') format('truetype'),
         url('/assets/fonts/geomanist-ultra-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #266;
  color: #266;
  transition: border-width .04s linear;
}

a:hover {
  border-width: 4px;
}

h1, h2, h3 {
  font-family: 'geomanistregular', sans-serif;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.7em;
  margin-top: .3em;
}

h2 {
  font-size: 2em;
  margin-top: 1.8em;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  margin-top: 1.5em;
}

.statement {
  font-family: 'geomanistultra', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  line-height: .9;
  text-align: center;
  display: inline-block;
  color: #113333;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 1.6;
}

p {
  margin: 0.5em 0; /* Halving the default margin, as using grid seems to double this */
}

li {
  margin-bottom: 0.7em;
}

ul {
  list-style: none; /* Remove default bullets */
  margin-top: 0.7em;
  margin-bottom: 0;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #266; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul li ul li::before {
  content: "·";
}

mark {
  background: #ff6;
  padding: 0 1px;  
}

strike {
  text-decoration-thickness: 6px;
}

blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

blockquote p::before {
  font-family: 'geomanistultra', sans-serif;
  content: "“";
  color: #266;
  font-style: normal;
  margin-left: -0.6em;
  padding-right: 0.1em;
}

blockquote p::after {
  font-family: 'geomanistultra', sans-serif;
  content: "”";
  color: #266;
  font-style: normal;
  padding-left: 0.1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  color: #888;
  font-style: italic;
  font-size: 0.9em;
}

@media (max-width: 1000px) {

  .full-width figcaption {
    margin-left: 20px;
    margin-right: 20px;
  }

}

/* blockquote::after {
  font-family: 'geomanistultra', sans-serif;
  content: "”";
  font-size: 3em;
  float: right;
  color: #266;
  font-style: normal;
  position: relative;
  top: -1em;
  right: -30px;
} */

.description {
  font-size: 1.5em;
  margin-top: .5em;
  line-height: 1.4em;
}

@media (min-width: 700px) {

  body {
    font-size: 18px;
  }

}

@media (min-width: 1000px) {

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  .description {
    font-size: 2em;
    margin-top: 18px;
  }

}

/* NAVIGATION
-------------------------------------------------- */

nav {
  font-family: 'geomanistregular';
  background-color: #339999;
  font-size: 18px;
  margin-bottom: 1.5em;
      transition: none;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav a {
  flex-grow: 1;
    box-sizing: border-box;
  padding: 10px 0;
  text-decoration: none;
  border: none;
  color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
  color: #000;
  background-color: #fff;
}

nav :first-child {
  background-color: #081a1a;
  width: 100%;
}

nav :nth-child(2) {
  background-color: #113333;
}

nav :nth-child(3) {
  background-color: #194d4d;
}

nav :nth-child(4) {
  background-color: #226666;
}

nav :nth-child(5) {
  background-color: #2a8080;
}

nav :nth-child(6) {
  background-color: #339999;
}

#current {
  color: #000;
  background-color: #fff;
}

@media (min-width: 400px) and (max-width: 1000px) {

  nav a:first-child {
    width: auto;
  }

}

@media (min-width: 700px) and (max-width: 1000px) {

  nav {
    font-size: 24px;
  }

  nav a {
    padding: 20px 0;
  }

}

@media (min-width: 1000px) {

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;       
    font-size: 30px;
    width: 210px;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    align-content: flex-start;
    display: flex;
  }

  nav a {
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
    transition: .15s ease-out;
  }

  nav :first-child {
    flex: 0 0 auto;
  }

  nav a:hover {
    padding-left: 40px;
      transition: .15s ease-out, background-color .1s ease-out;
  }

  nav :first-child:hover {
    padding-left: 20px;
  }


}

/* CARDS
-------------------------------------------------- */

.card {
  display: inline-block;
  border-bottom: 0px;
  color: #000;
  margin-bottom: 40px;
    transition: transform 0.15s ease;
}

.card .title {
  font-family: 'geomanistregular';
  font-size: 1.6em;
  line-height: 1.15;
}

.card img {
  width: 100%;
  padding-bottom: 10px;
}

.card p {
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .title {
  background-image: linear-gradient(black 0%, black 100%);
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: 1px 4px;
}

/* POSTS
-------------------------------------------------- */

.blogpost {
  display: block;
  padding: 1em 0;
  color: #000;
  border-bottom: 0;
    transition: transform 0.15s;
}

.blogpost:hover {
  transform: scale(1.05);
}

.blogpost:hover .title {
  background-image: linear-gradient(black 0%, black 100%);
  background-position: 0 1.15em;
  background-size: 1px 4px;
  background-repeat: repeat-x;
}

.blogpost .title {
  font-size: 1.8em;
  font-family: 'geomanistregular';
  line-height: 1.1em;
}

.blogpost p {
  margin-top: 0;
}

/* HOME
-------------------------------------------------- */

#home h1 {
  margin-bottom: 0.3em;
}

@media (min-width: 700px) {

  #home h2:first-of-type {
    text-align: center;
    margin-bottom: 1em;
  }

}

/* ABOUT
-------------------------------------------------- */

#about h1 {
  margin-bottom: 0;
}

/* CLIENTS
-------------------------------------------------- */

.clients {
  display: flex;
  flex-wrap: wrap;
}

.clients p {
  width: 100%;
  font-family: 'geomanistregular';
  text-align: center;
  font-size: 1.6em;
  margin-top: 0;
}

.clients img {
  padding: 0 20px;
  box-sizing: border-box;
  width: 50%;
  object-fit: contain;
}

@media (min-width: 1100px) {

  .clients{
    margin: 0 auto;
    max-width: 1024px;    
  }

  .clients p {
    margin-bottom: 0;
  }

  .clients img {
    flex: 1;
  }

}