---
layout: default
---
<article class="grid"> 
  <a href="/../blog">&larrhk; Blog</a>
  <h1>{{ page.title }}</h1>
  <p>{{ page.date | date_to_long_string: "ordinal", "US" }}</p>
  {{ content }}
</article>

<div class="pagenav grid">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="blogpost prev {% unless page.next.url %}lonely{% endunless %}" href="{{page.next.url}}">
      <p>&#8592; Previous post</p>
      <span class="title">{{ page.previous.title }}</span>
      <p>{{ page.previous.date | date_to_long_string: "ordinal", "US" }}</p>
    </a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}" class="blogpost next {% unless page.previous.url %}lonely{% endunless %}" href="{{page.next.url}}">
      <p>Next post &#8594;</p>
      <span class="title">{{ page.next.title }}</span>
      <p>{{ page.next.date | date_to_long_string: "ordinal", "US" }}</p>
    </a>
  {% endif %}
</div>